<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Buffer Titration Solver</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-secondary">
    <div class="card mx-auto mt-5" style="width: 24rem">
      <div class="card-body">
        <h5 class="card-title fs-3">Buffer Recipe</h5>
        <p class="card-text fs-4">{{ result}}</p>
      </div>


    <!-- Bootstrap Javascripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
